.modal-editar, .modal-excluir{
    display: none;
}
.modal-editar select, .modal-excluir select{
    width: 60px;
    height: 30px;
}
.editar-ativado, .excluir-ativado{
    display: block;
    position: absolute;
    width: 500px;
    height: 300px;
    background: silver;
    color: black;
}

.modal-editar button, .modal-excluir button{
    width: 60px;
    height: 30px;
}