<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/home-page.css">
    <title>LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <header class="menu-in pop" id="myP">
            <div class="logo">
                <a href="#container"><i class="fas fa-dumbbell"></i> LYNX <span>FIT</span></a>
            </div>
            <nav id="nav">
                <button id="btn-mobile">
                    <span id="iconn"></span>
                </button>
                <div class="navbar">
                    <ul class="menu">
                        <li><a href="./rotina.html" class="a-link">Rotina</a></li>
                        <li><a href="./evolucao.html" class="a-link">Evolução</a></li>
                        <li><a href="./dados.html" class="a-link">Dados</a></li>
                        <li><a href="/front/login/login.html" class="a-link">Sair</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container" id="container">
            <section class="container-header">
                <section class="textos-header">
                    <h1 class="titulo">Sua saúde em primerio lugar sempre.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt harum tempore dolores dolor. Sapiente, ipsam?</p>
                    <a href="#">Iniciar</a>
                </section>
                <img src="./assets/img/ilustração01.svg" alt="Ilustração">
            </section>
        </div>
        <section class="informacoes">
            <div class="container01">
                <h2 class="titulo-nivel-dois">Lorem ipsum dolor sit.</h2>
                <div class="articulo-container">
                    <div class="articulo">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Saúde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam eveniet sed. Dolorem illum sunt quas non incidunt, iure delectus.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div class="articulo">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Saúde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam eveniet sed. Dolorem illum sunt quas non incidunt, iure delectus.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div class="articulo">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Saúde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam eveniet sed. Dolorem illum sunt quas non incidunt, iure delectus.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div class="articulo">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Saúde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam eveniet sed. Dolorem illum sunt quas non incidunt, iure delectus.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div class="articulo">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Saúde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam eveniet sed. Dolorem illum sunt quas non incidunt, iure delectus.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div class="articulo">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Saúde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam eveniet sed. Dolorem illum sunt quas non incidunt, iure delectus.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="duvidas container">
                <section class="textos-duvidas">
                    <h1 class="titulo">Sua saúde em primerio lugar sempre.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt harum tempore dolores dolor. Sapiente, ipsam?</p>
                    <a href="#">Contato</a>
                </section>
                <img src="./assets/img/ilustração02.svg" alt="Ilustração">
        </section>
        <footer>
            <div>
                <div class="textos-footer">
                    <h2 class="subtitulo">Redes Sociais</h2>
                </div>
                <div class="items-footer">
                    <div class="footer-item">
                        <a href="#">
                            <ion-icon name="logo-facebook" class="icon-f"></ion-icon>
                        </a>
                    </div>
                    <div class="footer-item">
                        <a href="#">
                            <ion-icon name="logo-instagram" class="icon-f"></ion-icon>
                        </a>
                    </div>
                    <div class="footer-item">
                        <a href="#">
                            <ion-icon name="logo-whatsapp" class="icon-f"></ion-icon>
                        </a>
                    </div>
                    <div class="footer-item">
                        <a href="#">
                            <ion-icon name="mail-outline" class="icon-f"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="./assets/js/home-page.js"></script>
    <script>
        window.onscroll = function() {myFunction()};
        function myFunction() {
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            document.getElementById("myP").className = "test";
          } else {
            document.getElementById("myP").className = "menu-menu";
          }
        }
    </script>
</body>
</html>