<!DOCTYPE html>
<html lang="pt-BR">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Rotina LYNX FIT</title>
          <link rel="stylesheet" href="./assets/css/rotina.css" content="width-device-width, initial-scale-1.0">
          <link rel="stylesheet" href="./assets/css/modal/button.css">
          <link rel="stylesheet" href="./assets/css/modal/main.css">
          <link rel="stylesheet" href="./assets/css/modal/modal.css">
          <link rel="stylesheet" href="./assets/css/modal/records.css">
          <script src="https://kit.fontawesome.com/a076d0399.js"></script>
          <script src="./assets/js/evolucao.js" defer></script>
</head>
<body>
        <div class="wrapper">
                <sidebar>
                        <div class="logo">LYNX FIT</div>
                        <div class="avatar">
                          <div class="avatar__img">
                            <img src="https://picsum.photos/70" alt="avatar">
                          </div>
                          <div class="avatar__name">Alírio Scott</div>
                        </div>
                        <nav class="menu">
                          <a class="menu__item" href="../Inicio/index.html">
                            <i class="menu__icon fa fa-home"></i>
                            <span class="menu__text">Início</span>
                          </a>
                          <a class="menu__item" href="home-page-usuario.html">
                            <i class="menu__icon fa fa-bar-chart"></i>
                            <span class="menu__text">Inicio do Usuário</span>
                          </a>
                          <a class="menu__item" href="evolucao.html">
                            <i class="menu__icon fa fa-envelope"></i>
                            <span class="menu__text">Evolução</span>
                          </a>
                          <a class="menu__item menu__item--active" href="rotina.html">
                            <i class="menu__icon fa fa-calendar"></i>
                            <span class="menu__text">Rotina</span>
                          </a>
                          <a class="menu__item" href="dados.html">
                            <i class="menu__icon fa fa-list"></i>
                            <span class="menu__text">Meus Dados</span>
                          </a>
                          <a class="menu__item" href="../login/login.html">
                            <i class="menu__icon fa fa-bar-chart"></i>
                            <span class="menu__text">Sair</span>
                          </a>
                        </nav>
                        <div class="copyright">&copy; LYNX FIT - 2021 - &infintie;.</div>
                </sidebar>
                
                <main>
                    <section class="exercicios">
                        <table class="records">
                            <thead>
                                <tr>
                                    <th>Exercício</th>
                                    <th>Séries</th>
                                    <th>Repetições</th>
                                    <th>Aparelho</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Posterior da Coxa</td>
                                    <td>3 séries </td>
                                    <td>15 repetições</td>
                                    <td>Mesa Flexora</td>
                                </tr>
                                <tr>
                                    <td>Puxada de Triceps</td>
                                    <td>3 séries</td>
                                    <td>12 repetições</td>
                                    <td>Carretilha</td>
                                </tr>
                                <tr>
                                    <td>Supino com Barra</td>
                                    <td>3 séries</td>
                                    <td>15 repetições</td>
                                    <td>Prancha</td>
                                </tr>
                                <tr>
                                    <td>Cárdio</td>
                                    <td>1500m</td>
                                    <td>10km/h</td>
                                    <td>Esteira</td>
                                </tr>
                                <tr>
                                    <td>Adutor</td>
                                    <td>3 séries</td>
                                    <td>15 repetições</td>
                                    <td>Cadeira Adutora</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <div class="toolbar">
                        <div class="toggle">
                          <div class="toggle__option">Semana</div>
                          <div class="toggle__option toggle__option--selected">Mês</div>
                        </div>
                        <div class="current-month">Janeiro 2022</div>
                        <div class="search-input">
                          <input type="text" placeholder="Pesquisar">
                          <i class="fa fa-search"></i>
                        </div>
                      </div>
                      <div class="calendar">
                        <div class="calendar__header">
                          <div>mon</div>
                          <div>tue</div>
                          <div>wed</div>
                          <div>thu</div>
                          <div>fri</div>
                          <div>sat</div>
                          <div>sun</div>
                        </div>
                        <div class="calendar__week">
                          <div class="calendar__day day">1</div>
                          <div class="calendar__day day">2</div>
                          <div class="calendar__day day">3</div>
                          <div class="calendar__day day">4</div>
                          <div class="calendar__day day">5</div>
                          <div class="calendar__day day">6</div>
                          <div class="calendar__day day">7</div>
                        </div>
                        <div class="calendar__week">
                          <div class="calendar__day day">8</div>
                          <div class="calendar__day day">9</div>
                          <div class="calendar__day day">10</div>
                          <div class="calendar__day day">11</div>
                          <div class="calendar__day day">12</div>
                          <div class="calendar__day day">13</div>
                          <div class="calendar__day day">14</div>        
                        </div>
                        <div class="calendar__week">
                          <div class="calendar__day day">15</div>
                          <div class="calendar__day day">16</div>
                          <div class="calendar__day day">17</div>
                          <div class="calendar__day day">18</div>
                          <div class="calendar__day day">19</div>
                          <div class="calendar__day day">20</div>
                          <div class="calendar__day day">21</div>    
                        </div>
                        <div class="calendar__week">
                          <div class="calendar__day day">22</div>
                          <div class="calendar__day day">23</div>
                          <div class="calendar__day day">24</div>
                          <div class="calendar__day day">25</div>
                          <div class="calendar__day day">26</div> 
                          <div class="calendar__day day">27</div> 
                          <div class="calendar__day day">28</div> 
                        </div>
                        <div class="calendar__week">
                          <div class="calendar__day day">29</div>
                          <div class="calendar__day day">30</div>
                          <div class="calendar__day day">31</div>
                          <div class="calendar__day day">1</div>
                          <div class="calendar__day day">2</div>
                          <div class="calendar__day day">3</div>
                          <div class="calendar__day day">4</div>
                        </div>
                    </div>
                    <section class="informacoes">
                        <div class="container01">
                            <h2 class="titulo-nivel-dois">Prévia dos próximos dias</h2>
                            <div class="articulo-container">
                                <div class="articulo">
                                    <i class="fas fa-heartbeat"></i>
                                    <h3>Amanhã</h3>
                                    <p>Para o dia de amanhã, você terá como objetivo o fortalecimento de peito, trapézio e triceps.</p>
                                </div>
                                <div class="articulo">
                                    <i class="fas fa-heartbeat"></i>
                                    <h3>Depois de Amanhã</h3>
                                    <p>Para o dia de amanhã, você terá como objetivo o fortalecimento das pernas.</p>
                                </div>
                                <div class="articulo">
                                    <i class="fas fa-heartbeat"></i>
                                    <h3>Dia Seguinte</h3>
                                    <p>Para o dia de amanhã, você terá como objetivo o fortalecimento das costas e bíceps.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </body>
</html>