*{
    margin: 0;
    padding: 0;
}
:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
    --cor_teciaria: #e9e7e7;
    --cor_textos: rgb(30, 30, 30);
    --cor_tema_claro: rgb(50, 50, 50);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor_textos);
    background: var(--cor_teciaria);
}
main{
    height: 100vh;
}
a{
    text-decoration: none;
    font-size: 18px;
}

input::placeholder{
    color: var(--cor_textos);
    font-size: 20px;
}
select:focus{
    border: 1px solid var(--cor_secundaria);
}

/* parte da direita da pagina */
#check:checked ~ .equipamentos{
    display: block;
    margin-top: -85vh;
    margin-left: 100px;
}
.equipamentos{
    color: var(--cor_textos);
    margin-top: -85vh;
    margin-left: 260px;
}
.cadastrar{
    margin-top: -500px;
    margin-left: 90px;
}
.apagar-editar{
    margin-top: -6.4rem;
    margin-left: 580px;
}
.read{
    margin-top: 1rem;
    width: 60%;
    text-align: center;
}

.cadastrar .button, .busca .button{
    margin-top: 0.9rem;
    font-size: 20px;
    background: var(--cor_principal);
    color: var(--cor_secundaria);
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.cadastros{
    background: var(--cor_principal);
    margin-left: 90px;
    margin-top: 2rem;
    width: 950px;
}
.titulo{
    margin-top: 1.5rem;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 2rem;
    color: var(--cor_principal);
    background-color: rgba(0, 0, 170, 0.800);
  }
.equipamentos p{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: -5px;
}
.equipamentos input{
    font-size: 18px;
    width: 320px;
    height: 35px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
/* Responsividade */
@media screen and (max-width:800px){
    .read{
        width: 80%;
    }
}
@media screen and (max-width:600px){
    .read{
        width: 90%;
    }
    .equipamentos input{
        width: 200px;
        font-size: 16px;
        height: 18px;
    }
    label #sidebar_btn{
        display: none;
    }
    
}
@media screen and (max-width: 480px){
  
    .read{
        width: 100%;
        margin-left: 5px;
        margin-right: 20px;
    }
    .equipamentos input{
        width: 200px;
        font-size: 16px;
        height: 18px;
    }
    .equipamentos p{
        font-size: 20px;
    }
}
@media screen and (max-width: 410px){
  
    .equipamentos input{
        width: 160px;
        font-size: 14px;
        height: 16px;
        margin-right: 10px;
    }
    
}
@media screen and (max-width: 410px){
  
    .equipamentos .cadastrar, .equipamentos .apagar-editar{
        align-items: center;
        text-align: center;
    }
    .equipamentos .cadastrar p, .equipamentos .apagar-editar p{
        margin-bottom: 20px;
    }
    .equipamentos .apagar-editar p{
        margin-top: 15px;
    }
    .equipamentos input{
        margin-bottom: 10px;
    }
}