*{
    margin: 0;
    padding: 0;
}
:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
    --cor_teciaria: #e9e7e7;
    --cor_textos: rgb(30, 30, 30);
    --cor_tema_claro: rgb(50, 50, 50);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


input{
    border: none;
    background: var(--cor_teciaria);
    outline: none;
}
select:focus{
    border: 1px solid var(--cor_secundaria);
}

label #sidebar_btn{
    z-index: 1;
    position: fixed;
    left: 300px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}
label #sidebar_btn:hover{
    color: var(--cor_secundaria);
}
#check:checked ~ .menu{
    left: -190px;
}
#check:checked ~ .menu .perfil{
    display: none;
}
#check:checked ~ .menu a span{
    display: none;
}
#check:checked ~ .menu .links{
    margin-top: -90px;
}
#check:checked ~ .menu a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
.movimento{
    height: 100vh;
    transition: 0.3s;
}
#check{
    display: none;
}

/* parte da direita da pagina */
#check:checked ~ .treino{
    display: block;
    margin-top: -85vh;
    margin-left: 100px;
}
.treino{
    color: var(--cor_textos);
    margin-top: -85vh;
    margin-right: 40px;
    margin-left: 270px;
}
.personalizar p{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.pp{
    margin-top: 2.6rem;
}
.form{
    text-align: center;

}
.enter{
    margin-top: 1.4rem;
    display: flex;
    gap: 2.6rem;
}
.aluno input{
    width: 260px;
    font-size: 17px;
    height: 20px;
    border-bottom: 1px solid var(--cor_textos);
    margin-top: 1rem;
}
.aluno input:focus{
    border-bottom: 1px solid var(--cor_secundaria);
}
.aluno input:focus::placeholder{
    color: var(--cor_textos);
}
.enter{
    width: 100%;
}
.enter input{
    font-size: 17px;
    height: 20px;
    border-bottom: 1px solid var(--cor_textos);
}
.enter input:focus{
    border-bottom: 1px solid var(--cor_secundaria);
}
.enter input:focus::placeholder{
    color: var(--cor_textos);
}
.enter select{
    font-size: 17px;
    height: 25px;
    color: var(--cor_secundaria);
    outline: 1px solid var(--cor_textos);
}
.enter select option{
    font-size: 17px;
}
.button{
    margin-top: 1.5rem;
    font-size: 16px;
    background: var(--cor_principal);
    color: var(--cor_secundaria);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttons{
    display: flex;
    gap: 10px;
    margin-left: 90%;
}
.form h3{
    margin-bottom: 0.5rem;
}
.rotina{
    margin-top: 1.5rem;
}
.rotina table{
    width: 100%;
}
.rotina table th, td{
    border: 1px solid var(--cor_textos);
    font-size: 18px;
}