*{
  margin: 0;
  padding: 0;
}
:root{
  --cor_principal: white;
  --cor_secundaria: rgb(0, 0, 170);
  --cor_teciaria: #e9e7e7;
  --cor_textos: rgb(30, 30, 30);
  --cor_tema_claro: rgb(50, 50, 50);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--cor_textos);
}
footer{
  margin-top: 15rem;
  width:100;
  align-items: center;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  padding: 20px;
  background-color: var(--cor_teciaria);
}

/* MAIN */
 #check:checked ~ .conteudo{
  display: block;
  margin-left: -150px;
  }
 .dados{
  background: var(--cor_principal);
  width: 75%;
  margin-top: -35rem;
  margin-left: 260px;
 }

 .dadosMedidas{
  background: var(--cor_principal);
  width: 75%;
  margin-top: 2rem;
  margin-left: 260px;
}
.titulo{
  margin-top: 1.5rem;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-size: 2rem;
  color: var(--cor_principal);
  background-color: rgba(0, 0, 170, 0.800);
}
.titulodois{  
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-size: 2rem;
  color: var(--cor_principal);
  background-color: rgba(0, 0, 170, 0.800);
}

/*Botões*/
.buttonAdd{
  margin-top: 2rem;
  margin-left: 1070px;
  font-size: 20px;
  background: rgba(0, 0, 170,0.500);
  cursor: pointer;
  width: 200px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttonSave{
  margin-top: auto;
  font-size: 20px;
  background: rgba(0, 0, 170,0.500);
  cursor: pointer;
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttonCancel{
  margin-top: auto;
  font-size: 20px;
  background: rgba(0, 0, 170,0.500);
  cursor: pointer;
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0px 0.8px 3px var(--cor_textos);
}
#iconEdit{
  color: var(--cor_textos);
}
#iconDel{
  color: var(--cor_textos);
}
.button{
  margin-top: auto;
  font-size: 16px;
  background: var(--cor_principal);
  color: var(--cor_secundaria);
  cursor: pointer;
  width: 80px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttons{
  display: flex;
  gap: 10px;
  margin-left: 90%;
}

@media screen and (min-width: 1400px) {
  .dados{
    background: var(--cor_principal);
    width: 85%;
    height: 210px;
    margin-top: -55rem;
    margin-left: 260px;
   }
   .dadosMedidas{
    background: var(--cor_principal);
    width: 85%;
    height: 420px;
    margin-top: 2rem;
    margin-left: 260px;
  }
  .buttonAdd{
    margin-top: 2rem;
    margin-left: 1680px;
  }
}
 @media screen and (max-width: 1082px) {
  #check:checked ~ .conteudo{
    margin-top: 5rem;
    width: 100%;
    }
    #check:checked ~ .conteudo .button{
      margin-top: 2rem;
    margin-left: 1000px;
      }
  .conteudo{
    margin-top: 5rem;
    width: 90%;
  }
  .buttonAdd{
    margin-top: 2rem;
    margin-left: 800px;
  }
}
@media screen and (max-width: 860px) {
  #check:checked ~ .conteudo{
    margin-top: 5rem;
    width: 100%;
    }

  .conteudo{
    margin-top: 5rem;
    margin-left: -150px;
    width: 100%;
  }
  .buttonAdd{
    margin-top: 2rem;
    margin-left: 600px;
  }
}
  @media screen and (max-width: 700px) {
    #check:checked ~ .conteudo{
      margin-top: 5rem;
      width: 100%;
      }
    
    .conteudo{
      margin-top: 5rem;
      margin-left: -150px;
      width: 100%;
    }
    .buttonAdd{
      margin-top: 2rem;
      margin-left: 500px;
    }
    .titulo{
      font-size: 24px;
    }
    .titulodois{
      font-size: 24px;
    }
  }
  @media screen and (max-width: 600px) {
    #check:checked ~ .conteudo{
      margin-top: 5rem;
      width: 100%;
      }
    
    .conteudo{
      margin-top: 5rem;
      margin-left: -150px;
      width: 100%;
    }
    .buttonAdd{
      margin-top: 2rem;
      margin-left: 450px;
    }
    .titulo{
      font-size: 22px;
    }
    .titulodois{
      font-size: 22px;
    }
  }
  @media screen and (max-width: 520px) {
    #check:checked ~ .conteudo{
      margin-top: 5rem;
      margin-left: -180px;
      width: 100%;
      }
    
    .conteudo{
      margin-top: 5rem;
      margin-left: -180px;
      width: 100%;
    }
    .buttonAdd{
      margin-top: 2rem;
      margin-left: 400px;
    }
    .titulo{
      font-size: 22px;
    }
    .dadosMedidas {
      margin-left: 100px;
    }
  }
  @media(max-width:440px){
    .dados{
      text-align: center;
        align-items: center;
        width: 65%;
    }
    .dadosMedidas{
      text-align: center;
        align-items: center;
        width: 65%;
    }
}