*{
  margin: 0;
  padding: 0;
}
:root{
  --cor_principal: white;
  --cor_secundaria: rgb(0, 0, 170);
  --cor_teciaria: #e9e7e7;
  --cor_textos: rgb(30, 30, 30);
  --cor_tema_claro: rgb(50, 50, 50);
  --cor_logo: rgba(0, 0, 170, 0.500)
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*Tabela de exercícios*/
#check:checked ~ .conteudo{
  display: block;
  margin-left: -150px;
}

.exercicios{
  background: var(--cor_principal);
  margin-left: 260px;
  margin-top: -550px;
  width: 75%;
  height: 300px;
  overflow-y: scroll;
}
.titulo{
  margin-top: auto;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-size: 2rem;
  color: var(--cor_principal);
  background-color: rgba(0, 0, 170, 0.800);
}

/*Calendário*/

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 3rem;
    width: 75%;
    margin-left: 260px;
  }
  .calendar{
    margin-top: 1rem;
    margin-left: 260px;
    width: 75%;
    background-color: white;
    border: 1px solid #e1e1e1;
  }
  .calendar__week,.calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__week {
    grid-auto-rows: 100px;
    text-align: right;
  }
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  .calendar__day {
    padding: 16px;
  }
  
  .calendar__header  div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendar__day {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
  
  .calendar__day:last-child {
    border-right: 0;
  }
  
  .toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 0.9em;
  }
  .toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize; 
    cursor: pointer;
  }
  .toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .toggle__option--selected{
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
  }

  /*Cards*/ 
  .informacoes{
    margin-top: 3rem;
    margin-left: 230px;
    width: 75%;
  }
  .informacoes h2{
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
  }
  .articulo-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
  }
  .articulo{
    background: var(--cor_principal);
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
    width: 280px;
    height: 300px;
    text-align: center;
  }
  .articulo:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 170, 0.500);
  }
  .articulo i{
    font-size: 2.2rem;
  }
  .articulo h3{
    font-size: 24px;
    margin-top: 30px;
  }
  .articulo p{
    font-weight: 100;
    margin-top: 15px;
    font-size: 1rem;
    padding-bottom: 18px;
  }
  .articulo a{
    font-size: 1.3rem;
    font-weight: 400;
  }
  .articulo a:hover{
    color: var(--cor_secundaria);
    transition: color 0.2s;
  }
  
  /*botões*/
  .button{
    margin-left: 70rem;
    margin-top: 1rem;
    font-size: 20px;
    background: rgba(0, 0, 170, 0.800);
    color: var(--cor_principal);
    cursor: pointer;
    width: 150px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
  }

  @media screen and (min-width: 1400px) {
    .exercicios{
      background: var(--cor_principal);
      margin-left: 260px;
      margin-top: -850px;
      width: 85%;
    }
    .toolbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      margin-top: 3rem;
      width: 85%;
      margin-left: 260px;
    }
    .calendar{
      margin-top: 1rem;
      margin-left: 260px;
      width: 85%;
      background-color: white;
      border: 1px solid #e1e1e1;
    }
    .informacoes{
      margin-top: 3rem;
      margin-left: 230px;
      width: 85%;
    }
    .articulo{
      background: var(--cor_principal);
      margin-bottom: 3rem;
      border-radius: 10px;
      padding: 45px 30px 60px 30px;
      transition: 0.5s;
      width: 360px;
      height: 350px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1082px) {
    .exercicios{
      margin-top: -400px;
      margin-left: 150px;
      width: 70%;
    }
    .toggle{
      align-items: center;
      margin-left: -150px;
      width: 150px;
    }
    .calendar{
      margin-left: 150px;
      width: 70%;
    }
    .informacoes{
      margin-left: 150px;
      width: 70%;
    }
  }
  @media screen and (max-width: 800px) {
    .exercicios{
      margin-top: -400px;
      margin-left: 200px;
      width: 65%;
    }
    .calendar{
      margin-left: 200px;
      width: 65%;
    }
    .informacoes{
      margin-left: 200px;
      width: 65%;
    }
  }
  @media screen and (max-width: 560px) {
    .exercicios{
      align-items: center;
      margin-top: -500px;
      margin-left: 200px;
      width: 60%;
    }
    .calendar{
      margin-left: 150px;
      width: 400px;
      height: 550px;
    }
    .informacoes{
      align-items: center;
      margin-left: 200px;
      width: 60%;
    }
  }
  @media screen and (max-width: 450px) {
    .calendar{
      margin-left: 120px;
      width: 400px;
      height: 550px;
    }
  }
  @media screen and (max-width: 380px) {
    .calendar{
      margin-left: 100px;
      width: 400px;
      height: 550px;
    }
  }
.tabela-desativada{
  display: none;
}