*{
    margin: 0;
    padding: 0;
}
:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
    --cor_teciaria: #e9e7e7;
    --cor_textos: rgb(30, 30, 30);
    --cor_tema_claro: rgb(50, 50, 50);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor_textos);
    background: var(--cor_teciaria);
}
input::placeholder{
    color: var(--cor_textos);
    font-size: 16px;
}
select:focus{
    border: 1px solid var(--cor_secundaria);
}
/* menu */
label #sidebar_btn1{
    z-index: 1;
    position: fixed;
    left: 80px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  label #sidebar_btn1:hover{
    color: var(--cor_secundaria);
  }

  /* parte da direita da pagina */
#check:checked ~ .cadastros{
    display: block;
    margin-left: 150px;
}
.cadastros{
    background: var(--cor_principal);
    margin-left: 260px;
    margin-top: -550px;
    width: 75%;
}
.read{
    margin-top: 1rem;
    width: 60%;
    text-align: center;
}
.read table{
    margin-top: 1rem;
    width: 100%;
}
.read table th, td{
    border: 1px solid var(--cor_textos);
    font-size: 18px;
}
.cadastros p{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: -5px;
}
.cadastros input{
    font-size: 18px;
    width: 320px;
    height: 35px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.titulo{
    margin-top: 1.5rem;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor_principal);
    background-color: rgba(0, 0, 170, 0.800);
  }

/*Botões*/
.botoes{
    width: 500px;
    margin-left: 785px;
    margin-top: -550px;
}
.buttonAdd{
    margin-top: auto;
    margin-left: 800;
    font-size: 20px;
    background: var(--cor_principal);
    cursor: pointer;
    width: 170px;
    height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttonSave{
    margin-top: auto;
    font-size: 20px;
    background: rgba(0, 0, 170,0.500);
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttonCancel{
    margin-top: auto;
    font-size: 20px;
    background: rgba(0, 0, 170,0.500);
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}
#editar{
    color: var(--cor_textos);
}
#deletar{
    color: var(--cor_textos);
}
.button{
    margin-top: auto;
    font-size: 16px;
    background: var(--cor_principal);
    color: var(--cor_secundaria);
    cursor: pointer;
    width: 80px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}
.buttons{
    display: flex;
    gap: 10px;
    margin-left: 90%;
}

/* Formulário de cadastro*/
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label{
    font-weight: bold;
    font-size: 1.2rem;
}

input{
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid #323232;
}
input:focus {
    border-bottom: 2px solid rgb(0,0,190);
}

a{
    color: rgba(0, 0, 170, 0.800);
    text-decoration: none;
}

#btn-submit {
    margin-top: 0.9rem;
    font-size: 20px;
    background: var(--cor_secundaria);
    color: var(--cor_principal);
    cursor: pointer;
    width: 9rem;
    height: 2.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0.8px 3px var(--cor_textos);
}

#btn-submit:hover {
    background-color: var(--cor_principal);
    color: var(--cor_textos);
}

#agreement{
    margin-left: -9rem;
}

#agreement-label{
    margin-left: -11rem;
}

.half-box{
    margin-left: 0;
}

.stiloSenha{
    margin-left: -0.5rem;
}

.termos{
    margin-top: 3rem;
    margin-left: -10rem;
    font-size: 14px;
}

#name{
    margin-left: -0.2rem;
}

/* Responsividade do "molde" do cliente*/
@media screen and (min-width: 1400px) {
    #check:checked ~ .cadastros{
        display: block;
        margin-top: -850px;
        margin-left: 100px;
    }
    .cadastros{
        background: var(--cor_principal);
        margin-left: 260px;
        margin-top: -850px;
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width:800px){
    .read{
        width: 80%;
    }
}
@media screen and (max-width:600px){
    .read{
        width: 90%;
    }
    .cadastros input{
        width: 200px;
        font-size: 16px;
        height: 18px;
    }
    label #sidebar_btn{
        display: none;
    }
    
}
@media screen and (max-width: 480px){
  
    .read{
        width: 100%;
        margin-left: 5px;
        margin-right: 20px;
    }
    .cadastros input{
        width: 200px;
        font-size: 16px;
        height: 18px;
    }
    .cadastros p{
        font-size: 20px;
    }
}
@media screen and (max-width: 410px){
  
    .cadastros input{
        width: 160px;
        font-size: 14px;
        height: 16px;
        margin-right: 10px;
    }
    
}
@media screen and (max-width: 410px){
  
    .cadastros .cadastrar, .cadastros .apagar-editar{
        align-items: center;
        text-align: center;
    }
    .cadastros .cadastrar p, .cadastros .apagar-editar p{
        margin-bottom: 20px;
    }
    .cadastros .apagar-editar p{
        margin-top: 15px;
    }
    .cadastros input{
        margin-bottom: 10px;
    }
}
