<!--Pagina onde o cliente irá cadastrar novos usuários-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/cadastrar-usuario.css">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <link rel="stylesheet" href="./assets/css/modal/modal.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">
    <link rel="stylesheet" href="./assets/css/cadastroUsuario/modal-editar-excluir.css">
    <script src="./assets/js/cadastro.js" defer></script>
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <title>Cadastro de Alunos - LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn1" style="margin-left: -4rem"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>cadastros</span></h3>
            </div>
        </header>
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2 id="nome-perfil"></h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./personalizar-treino.html" class="home"><i class="fas fa-list-ul"></i></i><span>Treinos</span></a>
                <a href="./cadastrar-equipamentos.html" class="home"><i class="fas fa-dumbbell"></i><span>Equipamentos</span></a>
                <a href="./dados-cliente.html" class="home"><i class="fas fa-database"></i><span>Meus Dados</span></a>
                <a href="../login/login.html" class="home" id="sair"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>
        <section class="cadastros">
            <button type="button" class="buttonAdd" id="cadastrarCliente">+ Adicionar Aluno</button>
            <button id="editar">Editar</button>
            <button id="excluir">Excluir</button>

            <!-- modal de editar -->
            <div class="modal-editar" id="editar-modal">
                <select class="escolha" id="editarOp">

                </select>

                <input type="text" id="novo-nome">
                <input type="text" id="novo-email">
                <input type="text" id="nova-senha">
                <button id="comfirmar-editar">Comfirmar</button>
            </div>

            <!-- modal de escluir -->
            <div class="modal-excluir" id="excluir-modal">
                <select class="escolha" id="excluirOp">

                </select>
                <button id="comfirmar-excluir">Comfirmar</button>
            </div>
            



            <h3 class="titulo">ALUNOS CADASTRADOS</h3>    
            <table class="records">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <div class="modal" id="modal">
                            <div class="modal-content">
                                <header class="modal-header">
                                    <h2 class="tituloModal">Adicione os dados do aluno</h2>
                                    <span class="modal-close" id="modalClose">&#10006;</span>
                                </header>
                                <form class="modal-form">
                                    <input type="text" class="modal-field" placeholder="Nome" id="nome">
                                    <input type="text" class="modal-field" placeholder="Sobrenome">
                                    <input type="email" class="modal-field" placeholder="E-mail" id="email">
                                    <input type="password" class="modal-field" placeholder="Senha" id="senha">
                                    <input type="password" class="modal-field" placeholder="Confirmação de Senha">
                                    <div class="termos"> 
                                        <input type="checkbox" name="agreement" id="agreement">
                                        <label for="agreement" id="agreement-label" >Eu li e aceito os <a href="#">termos de uso</a></label>
                                    </div>
                                </form>
                                <footer class="modal-footer">
                                    <button  type="input" class="buttonSave" id="salvar">Salvar</button>
                                    <button type="input" class="buttonCancel">Cancelar</button>
                                </footer>
                            </div>
                        </div>
                    </tr>
                </thead>
                <tbody id="mostrar">
                   
                </tbody>
            </table>
        </section>

        <!-- <table id="mostrar"></table> -->
</main>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>   
    <script src="../../requisicoes/cliente/cadastroUsuario.js"></script>
    <script src="../../requisicoes/cliente/modaisUsuario.js"></script>
    <script src="../../requisicoes/logoff/logoff.js"></script>
</body>
</html>