<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/equipamentos.css">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <link rel="stylesheet" href="./assets/css/modal/modal.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">
    <link rel="stylesheet" href="./assets/css/modalEquipamento/modal-equipamento.css">
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <title>Cadastro de Equipamentos - LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>equipamentos</span></h3>
            </div>
        </header>
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2 id="nome-perfil"></h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./cadastrar-usuarios.html" class="home"><i class="fas fa-users"></i><span>Cadastro Usuários</span></a>
                <a href="./personalizar-treino.html" class="home"><i class="fas fa-list-ul"></i></i><span>Treinos</span></a>
                <a href="./dados-cliente.html" class="home"><i class="fas fa-database"></i><span>Meus Dados</span></a>
                <a href="../login/login.html" class="home" id="sair"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>
        <div class="equipamentos">
            <form action="#" method="post">
                <div class="cadastrar">
                    <p>Cadastrar um novo equipamento:</p>
                    <div>
                        <input type="text" placeholder="Inserir nome do equipamento" id="equipamento">
                        <button class="button" type="submit" id="salvar"><i class="far fa-save"></i></button>
                    </div>
                </div>
                <div>
                    
                </div>
                <div class="read">
                    <section class="cadastros">
                        <h3 class="titulo">EQUIPAMENTOS CADASTRADOS</h3>    
                        <table class="records">
                            <thead>
                                <tr>
                                    <th>Nome do Equipamento</th>
                                </tr>
                            </thead>
                            <tbody id="mostrar">
                            
                            </tbody>
                        </table>
                        
                    </section>
                </div>
            </form>
        </div>
        </div>
    </main>

    <div class="btn">
        <button id="excluir-equipamento" class="button bip"><i id="deletar" class="far fa-window-close"></i> Excluir equipamento</button>
    </div>   
        <!-- modal de escluir -->
        <div class="modal-excluir" id="excluir-modal">
            <select id="excluirOp">

            </select>
            
            <button id="comfirmar-excluir">Comfirmar</button>
    </div>
                <footer class="modal-footeer">
                    <button class="buttonSave" id="comfirmar-excluir">Confirmar</button>
                </footer>
            </div>
        </div>

    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
    <script src="../../requisicoes/equipamentos/equipamentos.js"></script>
    <script src="../../requisicoes/equipamentos/modalEquipamentos.js"></script>
    <script src="../../requisicoes/logoff/logoff.js"></script>
</body>
</html>