<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ESTILIZAÇÃO CSS-->
    <link rel="stylesheet" href="./assets/css/dados-cliente.css" content="width-device-width, initial-scale-1.0">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">

    <!--ESTILIZAÇÃO JS-->
    <script src="./assets/js/dados-cliente.js" defer></script>
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>

    <!--TITULO DA PAGINA-->
    <title>Dados da Empresa - LYNX FIT</title>
</head>
<body>
    <!--MAIN-->
    <main class="principal">

    <!--CABEÇALHO-->
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>Treino</span></h3>
            </div>
        </header>

    <!--MENU-->
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2 id="nome-perfil"></h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./cadastrar-usuarios.html" class="home"><i class="fas fa-users"></i><span>Usuários</span></a>
                <a href="./cadastrar-equipamentos.html" class="home"><i class="fas fa-dumbbell"></i><span>Equipamentos</span></a>
                <a href="./personalizar-treino.html" class="home"><i class="fas fa-list-ul"></i></i><span>Treinos</span></a>
                <a href="../login/login.html" class="home" id="sair"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>

        <div class="movimento"></div>
        
    <!--DADOS PESSOAIS-->
    <section class="dados">
            <h3 class="titulo">DADOS DA EMPRESA</h3>
            <table class="records">
                <thead>
                    <tr >
                        <th>CNPJ:</th>
                        <td id="cnpj"></td>
                        
                    </tr>
                    <tr >
                        <th>Nome:</th>
                        <td id="nome"></td>
                        
                    </tr>
                    <tr >          
                        <th>E-mail:</th>
                        <td id="email"></td>
                        
                    </tr>
                </thead>
            </table>
        </section>
            
            <div class="alterar-dados">
                <button type="button" class="button" id="editar"><i id="editar" class="far fa-edit"></i> Editar dados</button>
                <div class="modal" id="modal">
                    <div class="modal-content">
                        <header class="modal-header">
                            <h2 class="tituloModal">Alterar dados da Empresa</h2>
                            <span class="modal-close" id="modalClose">&#10006;</span>
                        </header>
                        <form class="modal-form">
                            <input type="text" class="modal-field" placeholder="CNPJ">
                            <input type="text" class="modal-field" placeholder="Nome da Empresa">
                            <input type="email" class="modal-field" placeholder="E-mail">
                        </form>
                        <footer class="modal-footer">
                            <button  type="input" class="buttonSave">Salvar</button>
                            <button type="input" class="buttonCancel">Cancelar</button>
                        </footer>
                    </div>
                </div>
            </div>

        </main>
        <!--RODAPE-->
 
    <!--JAVA SCRIPT-->
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
    <script src="../../requisicoes/cliente/dadosCliente.js"></script>
    <script src="../../requisicoes/logoff/logoff.js"></script>
</body>
</html>