<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/sections-home-page.css">
    <link rel="stylesheet" href="./assets/css/menu-home-page.css">
    <title>Cliente - LYNX FIT</title>
</head>
<body> 
    <div class="voltar-ao-topo">
        <a href="#topo"><ion-icon name="arrow-up-outline" class="icon-topo"></ion-icon></a>
    </div>
    <main class="princiapl" id="main">
        <header class="menu-in" id="myP">
            <div class="logo">
                <a href="#topo"><i class="fas fa-dumbbell"></i> LYNX <span>FIT</span></a>
            </div>
                <nav id="nav">
                    <button id="btn-mobile">
                        <span id="iconn"></span>
                    </button>
                    <ul class="menu">
                        <li><a href="#">Usuários</i></a></li>
                        <li><a href="./cadastrar-equipamentos.html">Equipamentos</i></a></li>
                        <li><a href="#">Rotinas</i></a></li>
                        <li><a href="../login/login.html" id="sair">Sair</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </header>
        <section class="inicio grid" id="topo">
            <div class="texto-inicial">
                <h1 class="titulo">Trazendo maior desempenho <span class="texto-parte"> e segurança</span></h1>
                <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolor deserunt molestiae voluptates reprehenderit cumque iste nihil, nostrum laudantium tempora eius esse repellat praesentium libero at nesciunt pariatur maxime doloribus?</p>
                <a href="#" class="inc">Iniciar</a>
            </div>
            <div class="img-inicio">
                <img src="./assets/img/01.svg" alt="Ilustração" class="img">
            </div>
        </section>
        <section class="informacoes">
            <section class="grid">
                <div class="items">
                    <div class="item">
                        <ion-icon name="cash-outline" class="icon-i"></ion-icon>
                        <h3 class="titulo-informacoes">Lorem ipsum dolor sit.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="item">
                        <ion-icon name="barbell-outline" class="icon-i"></ion-icon>
                        <h3 class="titulo-informacoes">Lorem ipsum dolor sit.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="item">
                        <ion-icon name="shield-checkmark-outline" class="icon-i"></ion-icon>
                        <h3 class="titulo-informacoes">Lorem ipsum dolor sit.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </section>
        </section>

        <section class="sobre">
            <div class="grid">
                <div class="textos-sobre">
                    <h2 class="subtitulo">Lorem, ipsum.</h2>
                    <p class="paragrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat provident facilis suscipit minus. Autem possimus nesciunt veritatis libero mollitia esse?</p>
                </div>
                <div class="numeros">
                    <div class="numero">256</div>
                    <div class="numero">256</div>
                    <div class="numero">256</div>
                    <div class="numero">256</div>
                </div>
            </div>
        </section>

        <section class="missao grid">
            <div class="textos-missao">
                <div class="texto-missao">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque ut veniam necessitatibus! Fugiat eaque, accusantium animi aliquid autem commodi!</p>
                </div>
                <div class="texto-missao">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque ut veniam necessitatibus! Fugiat eaque, accusantium animi aliquid autem commodi!</p>
                </div>
                <div class="texto-missao">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque ut veniam necessitatibus! Fugiat eaque, accusantium animi aliquid autem commodi!</p>
                </div>
            </div>
            <div class="img-missao">
                <img src="./assets/img/02.svg" alt="Ilustração" class="img">
            </div>
        </section>

        <footer>
            <div class="grid">
                <div class="textos-footer">
                    <h2 class="subtitulo">Contato</h2>
                </div>
                <div class="footer-item">
                    <a href="#">
                        <ion-icon name="logo-facebook" class="icon-f"></ion-icon>
                    </a>
                </div>
                <div class="footer-item">
                    <a href="#">
                        <ion-icon name="logo-instagram" class="icon-f"></ion-icon>
                    </a>
                </div>
                <div class="footer-item">
                    <a href="#">
                        <ion-icon name="logo-whatsapp" class="icon-f"></ion-icon>
                    </a>
                </div>
                <div class="footer-item">
                    <a href="#">
                        <ion-icon name="mail-outline" class="icon-f"></ion-icon>
                    </a>
                </div>
            </div>
        </footer>
    </main>
    <script src="./assets/js/home-page.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>

    <script>
        window.onscroll = function() {myFunction()};
        
        function myFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            document.getElementById("myP").className = "test";
            } else {
            document.getElementById("myP").className = "menu-menu";
            }
        }
    </script>

    <script src="../../requisicoes/logoff/logoff.js"></script>
</body>
</html>