<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/treino.css">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">

    <script src="./assets/js/treino.js" defer></script>
    <title>Personalização de Treino - LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>Treino</span></h3>
            </div>
        </header>
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2>Maria</h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./cadastrar-usuarios.html" class="home"><i class="fas fa-users"></i><span>Usuários</span></a>
                <a href="./cadastrar-equipamentos.html" class="home"><i class="fas fa-dumbbell"></i><span>Equipamentos</span></a>
                <a href="./dados-cliente.html" class="home"><i class="fas fa-database"></i><span>Meus Dados</span></a>
                <a href="/src/views/login/login.html" class="home"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>
        <!-- formulario de treino -->
        <div class="conteudo">
            <div class="personalizar">
                <button type="button" class="button" id="personalizacao"><i id="personalizacao" class="far fa-edit"></i> Personalizar treino do aluno</button>
                <div class="modal" id="modal">
                    <div class="modal-content">
                        <header class="modal-header">
                            <h2 class="tituloModal">Alterar Equipamento Cadastrado</h2>
                            <span class="modal-close" id="modalClose">&#10006;</span>
                        </header>
                        <div class="informacoes"> 
                            <div class="aluno">
                                <p>Para qual aluno deseja personalizar um treino?</p>
                                <input type="text" class="modal-field" placeholder="Nome do Aluno">
                            </div>
                            <form class="modal-form">
                                <p>Personalize o treino para o aluno desejado</p>
                                <select class="dias" id="dia">
                                    <option value="0">Dia</option>
                                    <option value="1">Segunda-feira</option>
                                    <option value="2">Terça-feira</option>
                                    <option value="3">Quarta-feira</option>
                                    <option value="4">Quinta-feira</option>
                                    <option value="5">Sexta-feira</option>
                                    <option value="6">Sábado</option>
                                </select>
                                <input type="text" class="modal-field" placeholder="Exercício">
                                <input type="text" class="modal-field" placeholder="Aparelho">
                                <input type="text" class="modal-field" placeholder="Séries">
                                <input type="text" class="modal-field" placeholder="Repetições">
                                
                                <input type="text" class="modal-field" placeholder="Nome do Equipamento">
                            </form>
                        </div>
                            <footer class="modal-footer">
                                <button type="input" class="buttonSave">Salvar</button>
                                <button type="input" class="buttonCancel">Cancelar</button>
                            </footer>
                    </div>
                </div>
            
                <div class="rotina">
                    <section class="exercicios">
                        <div>
                        <table class="records">
                          <h3 class="titulo">SUA ROTINA DE TREINOS</h3>
                          <thead>
                            <tr>
                              <th class="dia">Dia</th>
                              <th>Exercício</th>
                              <th>Séries</th>
                              <th>Repetições</th>
                              <th>Aparelho</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Posterior da Coxa</td>
                              <td>3 séries </td>
                              <td>15 repetições</td>
                              <td>Mesa Flexora</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Puxada de Triceps</td>
                              <td>3 séries</td>
                              <td>12 repetições</td>
                              <td>Carretilha</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Supino com Barra</td>
                              <td>3 séries</td>
                              <td>15 repetições</td>
                              <td>Prancha</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Cárdio</td>
                              <td>1500m</td>
                              <td>10km/h</td>
                              <td>Esteira</td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>Adutor</td>
                              <td>3 séries</td>
                              <td>15 repetições</td>
                              <td>Cadeira Adutora</td>
                            </tr>
                          </tbody>
                        </table>
                      </section>
             </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
</body>
</html>