<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/treino.css">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">
    <link rel="stylesheet" href="./assets/css/personalizarTreinoModal/modal-excluir-treino.css">
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <script src="./assets/js/treino.js" defer></script>
    <title>Personalização de Treino - LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>Treino</span></h3>
            </div>
        </header>
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2 id="nome-perfil"></h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./cadastrar-usuarios.html" class="home"><i class="fas fa-users"></i><span>Usuários</span></a>
                <a href="./cadastrar-equipamentos.html" class="home"><i class="fas fa-dumbbell"></i><span>Equipamentos</span></a>
                <a href="./dados-cliente.html" class="home"><i class="fas fa-database"></i><span>Meus Dados</span></a>
                <a href="../login/login.html" class="home" id="sair"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>
        <!-- formulario de treino -->
        <div class="conteudo">
            <div class="personalizar">
                <div class="botoes">
                <button type="button" class="button" id="personalizacao"><i id="personalizacao" class="far fa-edit"></i> Personalizar treino</button>
                <button class="button" id="excluir-treino"><i id="deletar" class="far fa-window-close"></i> Excluir treino</button>
                </div>
                <!-- Modal Excluir -->
            <div class="modal-excluir" id="excluir-modal">
                <div class="modal-contentt">
                    <header class="modal-header">
                        <h2 class="tituloModal">Excluir Treino</h2>
                        <span class="modal-close" id="modalClose2">&#10006;</span>
                    </header>
                    <div class="informacoesExcluir"> 
                            <p>Selecione o treino que deseja excluir</p>
                            <select id="excluirOp">
                                <option value="0">Selecionar treino</option>
                            </select>
                        </div>
                    <footer class="modal-footeer">
                        <button class="buttonSave" id="comfirmar-excluir">Confirmar</button>
                    </footer>
                </div>
            </div>


                <div class="modal" id="modal">
                    <div class="modal-content">
                        <header class="modal-header">
                            <h2 class="tituloModal">Alterar Equipamento Cadastrado</h2>
                            <span class="modal-close" id="modalClose">&#10006;</span>
                        </header>
                        <div class="informacoes"> 
                            <div class="aluno">
                                <p>Para qual aluno deseja personalizar um treino?</p>
                                <select class="selecoes modal-field" id="get-usuarios">
                                    <option value="0">Aluno</option>
                                </select>
                            </div>
                            <form class="modal-form">
                                <p>Personalize o treino para o aluno desejado</p>
                                <select class="modal-field" id="dia">
                                    <option value="0">Dia</option>
                                    <option value="1">Segunda-feira</option>
                                    <option value="2">Terça-feira</option>
                                    <option value="3">Quarta-feira</option>
                                    <option value="4">Quinta-feira</option>
                                    <option value="5">Sexta-feira</option>
                                    <option value="6">Sábado</option>
                                </select>
                                <input type="text" class="modal-field" placeholder="Exercício" id="treino">
                                <input type="text" class="modal-field" placeholder="Séries" id="series">
                                <input type="text" class="modal-field" placeholder="Repetições" id="repeticoes">
                                
                                <select class="modal-field" id="get-equipamentos">
                                    <option value="0">Equipamento</option>
                                </select>
                            </form>
                        </div>
                            <footer class="modal-footer">
                                <button type="input" class="buttonSave" id="salvar">Salvar</button>
                                <button type="input" class="buttonCancel">Cancelar</button>
                            </footer>
                    </div>
                </div>
            
                <div class="rotina">
                    <section class="exercicios">
                        <div>
                        <table class="records">
                          <h3 class="titulo">ROTINAS DE TREINOS DOS ALUNOS</h3>
                          <thead>
                            <tr>
                              <th class="dia">Dia</th>
                              <th>Exercício</th>
                              <th>Séries</th>
                              <th>Repetições</th>
                              <th>Aparelho</th>
                              <th>Usuário</th>
                            </tr>
                          </thead>
                          <tbody id="mostrar">
                            
                          </tbody>
                        </table>
                      </section>
             </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
    <script src="../../requisicoes/treino/treino.js"></script>
    <script src="../../requisicoes/treino/modalTreino.js"></script>
    <script src="../../requisicoes/logoff/logoff.js"></script>
</body>
</html>