*{
  margin: 0;
  padding: 0;
}
:root{
  --cor_principal: white;
  --cor_secundaria: rgb(0, 0, 170);
  --cor_teciaria: #e9e7e7;
  --cor_textos: rgb(30, 30, 30);
  --cor_tema_claro: rgb(50, 50, 50);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--cor_textos);
}
main{
  height: 100vh;
  background-color: var(--cor_teciaria)
}
    /* MAIN */
 .dados{
        background: rgba(0, 0, 170, 0.500);
        width: 75%;
        margin-top: -35rem;
        margin-left: 260px;
 }


  @media screen and (min-width: 850px) {
    .wrapper {
      grid-template-columns: 200px 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar content";
    }
  }
  
  @media screen and (min-width: 850px) {
    
    .menu {
      flex-direction: column;
      align-items: normal;
      justify-content: flex-start;
    }
    .menu__text {
      display: inline-block;
    }
    .avatar {
      flex-direction: column;
    }
    .avatar__name {
      margin: 1em 0;
    }
    .avatar__img > img {
      border-radius: 50%;
    }
  }
  
  @media screen and (min-width: 850px) {
    .menu__icon {
      font-size: 0.9rem;
      padding-right: 16px;
    }
    .menu__item--active {
      border-left: 4px solid var(--red);
      box-shadow: inset 10px 0px 17px -13px var(--red);
    }
  }
  
  .copyright {
    font-size: 0.7rem;
    font-weight: 400;
  }
  