
*{
  margin: 0;
  padding: 0;
}
:root{
  --cor_principal: white;
  --cor_secundaria: rgb(0, 0, 170);
  --cor_teciaria: #e9e7e7;
  --cor_textos: rgb(30, 30, 30);
  --cor_tema_claro: rgb(50, 50, 50);
  --cor_logo: rgba(0, 0, 170, 0.500)
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.gordura{
  margin-top: -550px;
  margin-left: 260px;
  width: 500px;
  height: 500px;
}

@media screen and (min-width: 850px) {
  .menu__icon {
    font-size: 0.9rem;
    padding-right: 16px;
  }
  .menu__item--active {
    border-left: 4px solid var(--red);
    box-shadow: inset 10px 0px 17px -13px var(--red);
  }
}
