<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="stylesheet" href="">

    <!--JAVA SCRIPT-->
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <title>LYNX FIT</title>
</head>
<body>
    <div class="logar">
        <div class="usuario">
            <h3>Você está logado, clique para continuar!</h3>
            <div class="link">
                <a href="../usuário/home-page-usuario.html" class="inc">Continuar</a>
            </div>
        </div>
    </div>
    
    <div class="cliente">
        <h3>Você está logado, clique para continuar!</h3>
        <div class="link">
            <a href="../cliente/home-page-cliente.html" class="inc">Continuar</a>
        </div>
    </div>
    <main class="principal">
        <div class="back">
            <div class="info">
                <h2 class="titulo">Lynx Fit</h2>
                <img src="./assets/img/login.svg" alt="">
                <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, doloremque. Facilis iusto expedita, voluptatum dolor eum laborum est commodi numquam aut.</p>
            </div>
        </div>
        <!--Login-->
        <div class="login-completo">
            <h1>Bem vindo</h1>
            <div class="show">
                <div class="forms">
                    <h2 class="texto-login">Login</h2>
                    <form action="" method="post">
                        <label for="email">E-mail</label> <br>
                        <input type="email" id="email" class="email" placeholder="Ex: joaozinho123@gmail.com" required> <br>
                        <label for="senha">Senha</label> <br>
                        <input type="password" id="senha" class="senha" placeholder="********" required> <br>
                        <a href="#" class="inc" id="login">Entrar</a>
                        <a href="#" class="inc">Voltar</a>
                    </form>
                    <div class="sem-cadastro">
                        <h3>Não tem cadastro?</h3> <br>
                        <a href="../Inicio/index.html" class="clique">Clique aqui</a>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <script src="./assets/js/login.js"></script>
</body>
</html>