<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ESTILIZAÇÃO CSS-->
    <link rel="stylesheet" href="./assets/css/evolucao.css" content="width-device-width, initial-scale-1.0">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <link rel="stylesheet" href="./assets/css/modal/button.css">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/modal.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">

    <!--ESTILIZAÇÃO JS-->
    <script src="https://kit.fontawesome.com/a076d0399.js"></script>
    <script src="./assets/js/evolucao.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <!--TITULO DA PAGINA-->
    <title>Evolução LYNX FIT</title>
</head>
<body>
        <!--MAIN-->
        <main class="principal">
              
       <!--CABEÇALHO-->
                <input type="checkbox" id="check">
                <header>
                        <label for="check">
                                <i class="fas fa-bars" id="sidebar_btn"></i>
                        </label>
                        <div class="esquerda">
                                <h3>Lynx <span>Treino</span></h3>
                        </div>
                </header>
        
        <!--MENU-->
        <div class="menu">
            <div>
                <center>
                    <img src="https://picsum.photos/70" class="imagem" alt="">
                    <h2>Alírio Scott</h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-usuario.html" class="home"><i class="fas fa-home"></i><span>Início</span></a>
                <a href="./evolucao.html" class="home"><i class="fas fa-database"></i><span>Evolução</span></a>
                <a href="./rotina.html" class="home"><i class="fas fa-dumbbell"></i><span>Rotina</span></a>
                <a href="./dados.html" class="home"><i class="fas fa-user"></i><span>Meus Dados</span></a>
                <a href="../login/login.html" class="home"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>

        <!--GRAFICO % GORDURA-->
                <div class="gordura">
                        <canvas id="myChart" width="400" height="400"></canvas>
                        <script>
                                const ctx = document.getElementById('myChart').getContext('2d');
                                const myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                        labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                                        datasets: [{
                                        label: 'Percentual de Gordura (%)',
                                        data: [25, 22, 18, 19, 15, 13, 9, 13, 11, 9, 9, 7],
                                        backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 6
                                        }]
                                },
                                options: {
                                        title: {
                                            display: true,
                                            fontSize: 15,
                                            text: "Percentual de Gordura (%)"
                                          },
                                }
                                });
                        </script>
                </div>
        <!--GRAFICO % GORDURA-->
                
        </main>
        <!--RODAPE-->
        <!--JAVA SCRIPT-->
        <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
</body>
</html>