:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.8rem;
    margin-left: 0.6rem;
}
.container-um {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 90%;
    }
    body {
    margin: 0px;
    padding: 0px;
    }
    .container-um .imagem img{
        width: 400px;
        margin-left: -2rem;
        margin-top: 2.5rem;
    }
    .container-um .imagem{
        text-align: center;
    }
    .imagem{
        padding: 20px 0;
        height: 490px;
        width: 550px;
        margin-left: 4rem;
    }
    .informacoes{
        margin-left: 2rem;
        text-align: center;
        height: 90%;
        width: 550px;
    }
    .paragrafo{
        font-size: 20px;
        text-align: justify;
        text-decoration: none;
        margin-top: 10rem;
        margin-right: 2rem;
        font-family: 'Montserrat', sans-serif;
    }
    .logo a{
        text-decoration: none;
        font-size: 6rem;
        font-family: 'Montserrat', sans-serif;
        color: var(--cor_secundaria);
        text-transform: uppercase;
        font-weight: 700;
        align-items: center;
    }

    a button{
        background: var(--cor_secundaria);
        color: white;
        border: 3px solid rgb(0, 0, 170);
        width: 10rem;
        height: 2.3rem;
        border-radius: 3rem;
        margin-right: 1rem;
    }
     button:hover{
        background: white;
        color: var(--cor_secundaria);
        border: 1px solid rgb(0, 0, 170);
    }
    
    /**--------------------------------------------------------RESPONSIVIDADE--------------------------------------------------------**/

    @media (max-width:1100px) {
        .imagem{
           width: 80%;
        }
    }
    @media (max-width: 900px){
        .container-um .imagem img{
            margin-left: 0.2rem;
        }
        .imagem{
            padding-bottom: 40px;
            width: 96%;
        }
    }
    @media (max-width: 830px) {
        main{
            display: block;
        }
        body {
            margin: 0px;
            padding: 0px;
            }
            .container-um{
                margin-top: auto;
                margin-left: 6rem;
                max-width: fit-content;
                padding-top: 0%;
                align-items: center;
            }
            .container-um .imagem img{
                width: 450px;
            }
            .logo  a{
                font-size: 5rem;
            }
            .informacoes{
                margin-top: -5rem;
                margin-left: 12rem;
                max-width: 480px;
                align-items: center;
            }
            .paragrafo{
                width: auto;
                font-size: 20px;
                text-align: justify;
            }
            .section{
                margin-top: 10rem;
                align-items: center;
            }
    }
    @media (max-width: 540px){
        body {
            margin: 0px;
            padding: 0px;
            }
        .container-um{
            margin-top: auto;
            margin-left: 1rem;
            max-width: fit-content;
            padding-top: 0%;
            align-items: center;
        }
        .container-um .imagem img{
            width: 300px;
        }
        .logo  a{
            font-size: 4rem;
        }
        .informacoes{
            margin-top: -18rem;
            max-width: 480px;
            align-items: center;
        }
        .paragrafo{
            width: auto;
            font-size: 20px;
            text-align: justify;
        }
        .section{
            margin-top: 15rem;
            align-items: center;
        }
        .container{
            font-size: 14px;
        }
        .d-grid gap-2 d-sm-flex justify-content-sm-center{
            width: 400px;
            text-align: center;
        }
    }
    @media (max-width: 360px){
        body {
            margin: 0px;
            padding: 0px;
            }
        .container-um{
            margin-top: -3rem;
            max-width: fit-content;
            padding-top: 0%;
            align-items: center;
        }
        .back{
            margin-right: 35%;
        }
        .container-um .imagem img{
            width: 200px;
        }
        .logo  a{
            font-size: 3rem;
        }
        .informacoes{
            margin-top: -22rem;
            max-width: 300px;
            align-items: center;
        }
        .paragrafo{

            width: auto;
            font-size: 18px;
            text-align: justify;
        }
        .container{
            font-size: 14px;
        }
        .d-grid gap-2 d-sm-flex justify-content-sm-center{
           margin-top: 2rem;
            width: 200px;
            text-align: center;
        }
        #redirecionar-log, #redirecionar-cad, #redirecionar-lp{
            margin-bottom: 0.5rem;
        }
    }