*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
    --cor_teciaria: #e9e7e7;
    --cor_textos: rgb(30, 30, 30);
    --cor_tema_claro: rgb(50, 50, 50);
    --cor_logo: rgba(0, 0, 170, 0.500)
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor_textos);
    background-color: var(--cor_teciaria);
}
main{
    height: 100vh;
}
header{
    position: fixed;
    background: rgba(0, 0, 170, 0.500);
    padding: 20px;
    width: 100%;
    height: 70px;
}


@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}