<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/treino.css">
    <title>LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <input type="checkbox" id="check" checked>
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>Treino</span></h3>
            </div>
        </header>
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2>Maria</h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./cadastrar-usuarios.html" class="home"><i class="fas fa-users"></i><span>Usuários</span></a>
                <a href="./cadastrar-equipamentos.html" class="home"><i class="fas fa-dumbbell"></i><span>Equipamentos</span></a>
                <a href="./dados-cliente.html" class="home"><i class="fas fa-database"></i><span>Meus Dados</span></a>
                <a href="/src/views/login/login.html" class="home"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>
        <!-- formulario de treino -->
        <div class="treino">
            <div class="personalizar">
                <div class="aluno">
                    <p>Para o aluno deseja personalizar um treino?</p>
                    <input type="text" placeholder="Ex: Joãozinho123">
                </div>
                <div class="form">
                    <p class="pp">Personalize agora o treino:</p>
                    <div class="enter">
                        <div class="dia">
                            <h3>Dia</h3>
                                <select name="" id="">
                                    <option value="0">Selecione</option>
                                    <option value="1">Segunda</option>
                                    <option value="2">Terça</option>
                                    <option value="3">Quarta</option>
                                    <option value="4">Quinta</option>
                                    <option value="5">Sexta</option>
                                    <option value="6">Sábado</option>
                                </select>
                        </div>
                        <div class="nome-treino">
                            <h3>Treino</h3>
                                <input type="text" placeholder="Ex: Treino de pernas">
                        </div>
                        <div class="equipamento">
                            <h3>Equipamento</h3>
                                <input type="text" placeholder="Ex: Alters">
                        </div>
                        <div class="series">
                            <h3>Series</h3>
                                <input type="text" placeholder="Ex: 4">
                        </div>
                        <div class="repeticoes">
                            <h3>Repetições</h3>
                                <input type="text" placeholder="Ex: 12">
                        </div>
                        <div class="salvar">
                        </div>
                    </div>
                    <div class="buttons">

                        <button class="button"><i class="far fa-save"></i></button>
                        <button class="button"><i class="far fa-window-close"></i></button>
                    </div>
                </div>

                <div class="rotina">
                    <p>Essa é a rotina dele</p>
                    <table>
                        <tr>
                            <th>Dia</th>
                            <th>Treino</th>
                            <th>Equipamentos</th>
                            <th>Séries</th>
                            <th>Repetições</th>
                        </tr>
                    </table>
                </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
</body>
</html>