<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/treino.css">
    <title>LYNX FIT</title>
</head>
<body>
    <main class="principal">
        <input type="checkbox" id="check" checked>
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>Treino</span></h3>
            </div>
        </header>
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2>Maria</h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-cliente.html" class="home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="./cadastrar-usuarios.html" class="home"><i class="fas fa-users"></i><span>Usuários</span></a>
                <a href="./cadastrar-equipamentos.html" class="home"><i class="fas fa-dumbbell"></i><span>Equipamentos</span></a>
                <a href="./dados-cliente.html" class="home"><i class="fas fa-database"></i><span>Meus Dados</span></a>
                <a href="/src/views/login/login.html" class="home"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>
        <div class="movimento"></div>
        <div class="treino">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore natus exercitationem provident dolorum voluptate adipisci sed maxime! Quidem, quisquam nihil eveniet perferendis a doloribus natus inventore eaque, quam doloremque sint.</p>
            <div class="personalizar">
                <form action="post">
                    <label for="dias">Quantos dias na semana pretende treinar?</label><br>
                    <select id="dias" name="" class="N-dias">
                        <option value="0">Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </form>
                <p class="pp">Agora é hora de personalizar o treino do cliente da sua academia:</p>
                <table>
                    <tr>
                        <th>Dia</th>
                        <th>Treino</th>
                        <th>Equipamento</th>
                        <th>Series</th>
                        <th>Repetições</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="" id="">
                                <option value="0">Selecione</option>
                                <option value="1">Segunda</option>
                                <option value="2">Terça</option>
                                <option value="3">Quarta</option>
                                <option value="4">Quinta</option>
                                <option value="5">Sexta</option>
                                <option value="6">Sábado</option>
                            </select>
                        </td>

                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
</body>
</html>