<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <title>Teste</title>
</head>
<body>
    <div id="teste">
        <div id="renderApiResult">


            <p id="userId"></p>
            <p id="userNome">Oi </p>
            <p id="userCity"></p>
            <p id="senha"></p>
        </div>
    </div>
    <!-- <main>

    </main>
     -->
    
    
    <script src="./get.js"></script>
</body>
</html>