*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
    --cor_teciaria: #e9e7e7;
    --cor_textos: rgb(30, 30, 30);
}
body{
    color: var(--cor_textos);
    font-family:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.container01{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 40px 0px;
}
h1{
    font-size: 3rem;
}
/* header */
#menu a{
    text-decoration: none;
    color: rgb(22, 21, 21);
    font-weight: bold;
    transition: 0.3s ease-out;
}
#menu a:hover{
    color: var(--cor_principal);
}
#header img{
    height: 3rem;
    width: 5rem;
}
.fas{
    font-size: 1.8rem;
}
.logo a{
    color: var(--cor_textos);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 590;
}
#header{
    margin-bottom: 2rem;
    background: rgba(0, 0, 170, 0.418);
    position: fixed;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-right: 2rem;
}
#menu a {
    color: var(--cor_textos);
    display: block;
    padding: 0.05rem;
    font-size: 1.5rem;
}
#btn-mobile{
    display: none;
}
/* parte inicial */
.container-header{
    margin-top: 3rem;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-header img{
    width: 90vh;
}
.textos-header{
    margin: 0px 0px 0px 30px;
}
.container-header p{
    font-weight: 100;
    margin-top: 15px;
    font-size: 1.3rem;
}
.container-header a{
    display: inline-block;
    margin: 30px 0px 0px 0px;
    width: 9rem;
    padding: 0.8rem 0;
    background: var(--cor_secundaria);
    text-align: center;
    color: var(--cor_principal);
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0px 8px 32px  rgba(0, 0, 170, 0.418);
}
.container-header a:hover{
    border: 1px solid var(--cor_secundaria);
    background: var(--cor_principal);
    color: var(--cor_textos);
}
/* informações */
.informacoes{
    background-color: #f2f2f2;
}
.informacoes h2{
    font-size: 2rem;
}
.articulo-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
.articulo{
    width: 29%;
    background: #e9e7e7;
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
    width: 320px;
    height: 340px;
    text-align: center;
}
.articulo:hover{
    box-shadow: 0px 4px 10px rgba(17, 29, 48, 0.26);
}
.articulo i{
    font-size: 2.2rem;
}
.articulo h3{
    font-size: 24px;
    margin-top: 30px;
}
.articulo p{
    font-weight: 100;
    margin-top: 15px;
    font-size: 1.2rem;
    padding-bottom: 18px;
}
.articulo a{
    font-size: 1.3rem;
    font-weight: 400;
}
.articulo a:hover{
    color: var(--cor_secundaria);
    transition: color 0.2s;
}
/* duvidas */
.duvidas{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.duvidas h1{
    margin-right: 2rem;
}
.duvidas img{
    width: 90vh;
}
.textos-duvidas{
    margin: 0px 0px 0px 30px;
}
.duvidas p{
    font-weight: 100;
    margin-top: 15px;
    font-size: 1.3rem;
}
.duvidas a{
    display: inline-block;
    margin: 30px 0px 0px 0px;
    width: 9rem;
    padding: 0.8rem 0;
    background: var(--cor_secundaria);
    text-align: center;
    color: var(--cor_principal);
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0px 8px 32px  rgba(0, 0, 170, 0.418);
}
.duvidas a:hover{
    border: 1px solid var(--cor_secundaria);
    background: var(--cor_principal);
    color: var(--cor_textos);
}
/* footer */
footer{
    background: var(--cor_secundaria);
    color: var(--cor_principal);
    text-align: center;
    padding: 1rem 0rem 3rem 0rem;
}
.textos-footer{
    margin-bottom: 30px;
}
.icon-f{
    color: var(--cor_principal);
    font-size: 30px;
}
.items-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.icon-f:hover{
    color: var(--cor_textos);
}
/* responsividade */
@media screen and (max-width:1000px){
    .container-header img{
        width: 500px;
    }
}
@media screen and (max-width:960px){
    .container-header{
        margin-top: 5rem;
    }
    .container-header img{
        width: 400px;
    }
}
@media  screen and (max-width:940px) {
    /* imagens */
    .duvidas img, .container-header img{
        width: 380px;
        height: 380px;
        margin-left: 1rem;
    }
    .container-header{
        margin-top: 5rem;
    }
}
@media screen and (max-width:850px){
    /* parte inicial */
    .titulo{
        font-size: 45px;
    }
    .container01 h2{
        font-size: 1.8rem;
    }
    .container-header{
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }
    .textos-header{
        margin: 0;
    }
}
@media screen and (max-width: 800px){
    /* duvidas */
    .duvidas{
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }
    /* menu */
    #btn-mobile{
        display:inline;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 5rem;
        right: -2rem;
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        background-color: var(--cor_teciaria);
        height: calc(100vh - 5rem);
        visibility: visible;
        overflow-y: auto;
        color: var(--cor_secundaria);
        text-align: center;
    }
    #menu a{
        padding: 1.5rem 0rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(48, 46, 46, 0.05);
    }
    #menu a:hover{
        background: rgb(190, 190, 190);
    }
    #btn-mobile{
        display: flex;
        border: none;
        cursor: pointer;
        background: none;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        gap: 0.5rem;
    }
    #iconn{
        border-top: 4px solid;
        color: var(--cor_principal);
    }
    #iconn::after, #iconn::before{
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;   
        position: relative;     
    }
    #nav.active #iconn{
        border-top-color: transparent;
    }
    #nav.active #iconn::before{
        transform: rotate(135deg);
    }
    #nav.active #iconn::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
@media screen and (max-width:600px) {
    .titulo{
        font-size: 35px;
    }
    .container01 h2{
        font-size: 1.6rem;
    }
    .container-header{
        height: 650px;
    }
    .logo{
        font-size: 1.6rem;
    }
}
@media screen and (max-width:500px){
    .duvidas img, .container-header img{
        width: 300px;
        height: 300px;
        margin-left: 1rem;
    }
}
@media screen and (max-width:350px){
    .duvidas img, .container-header img{
        width: 250px;
        height: 250px;
        margin-left: 10px;
    }
    .articulo{
        height: 90%;
    }
}
@media screen and (max-width:300px){
    .items-footer{
        display: block;
        align-items: center;
    }
    .icon-f{
        margin-top: 10px;
    }
}