
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%) url(https://images.pexels.com/photos/6046978/pexels-photo-6046978.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

a{
    text-decoration: none;
    color: black;
}
/* MENU */
a:hover{
    background: rgba(99, 100, 100, 0.486);
}
#header img{
    height: 4rem;
    width: 8rem;
}
#header{
    margin-top: -6rem;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-right: 2rem;
}
#menu a {
    color: var(--cor_principal);
    display: block;
    padding: 0.05rem;
    font-size: 1.5rem;
}
#btn-mobile{
    display: none;
}

@media(max-width: 650px) {
    #btn-mobile{
        display:inline;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 5rem;
        right: -2rem;
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden
    }
    #nav.active #menu{
        height: calc(100vh - 5rem);
        visibility: visible;
        overflow-y: auto;
        color: var(--cor_secundaria);
        text-align: center;
    }
    #menu a{
        padding: 1.5rem 0rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(48, 46, 46, 0.05);
    }
    #btn-mobile{
        display: flex;
        border: none;
        cursor: pointer;
        background: none;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        gap: 0.5rem;
    }
    #iconn{
        border-top: 2px solid;
        color: var(--cor_principal);
    }
    #iconn::after, #iconn::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;   
        position: relative;     
    }
    #nav.active #iconn{
        border-top-color: transparent;
    }
    #nav.active #iconn::before{
        transform: rotate(135deg);
    }
    #nav.active #iconn::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}