<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ESTILIZAÇÃO CSS-->
    <link rel="stylesheet" href="./assets/css/rotina.css" content="width-device-width, initial-scale-1.0">
    <link rel="stylesheet" href="./assets/css/modal/menu.css">
    <!-- <link rel="stylesheet" href="./assets/css/modal/button.css"> -->
    <link rel="stylesheet" href="../../requisicoes/usuario/rotina.css">
    <link rel="stylesheet" href="./assets/css/modal/main.css">
    <link rel="stylesheet" href="./assets/css/modal/modal.css">
    <link rel="stylesheet" href="./assets/css/modal/records.css">

    <!--ESTILIZAÇÃO JS-->
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <script src="./assets/js/evolucao.js" defer></script>

    <!--TITULO DA PAGINA-->
    <title>Rotina LYNX FIT</title>
</head>
<body>
    <!--MAIN-->
    <main class="principal">

    <!--CABEÇALHO-->
      <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="esquerda">
                <h3>Lynx <span>Treino</span></h3>
            </div>
        </header>

    <!--MENU-->
        <div class="menu">
            <div>
                <center>
                    <img src="https://images.pexels.com/photos/7319297/pexels-photo-7319297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="imagem" alt="">
                    <h2 id="nome-perfil"></h2>
                </center>
            </div>
            <div class="links">
                <a href="./home-page-usuario.html" class="home"><i class="fas fa-home"></i><span>Início</span></a>
                <a href="./evolucao.html" class="home"><i class="fas fa-database"></i><span>Evolução</span></a>
                <a href="./rotina.html" class="home"><i class="fas fa-dumbbell"></i><span>Rotina</span></a>
                <a href="./dados.html" class="home"><i class="fas fa-user"></i><span>Meus Dados</span></a>
                <a href="../login/login.html" class="home" id="sair"><i class="fas fa-sign-out-alt"></i><span>Sair</span></a>
            </div>
        </div>

        <div class="movimento"></div>

    <!--LISTA-->
    <div class="conteudo">
        <section class="exercicios">
          <!-- <div class="some" id="some"> -->

          <!-- </div> -->

          <button id="some"></button>
            <!-- <input value="idididiidi" id="comfirmar"> -->
          
          <table class="records">
            <h3 class="titulo">EXERCÍCIOS DO DIA</h3>
            <thead>
              <tr>
                <th>Exercício</th>
                <th>Séries</th>
                <th>Repetições</th>
                <th>Aparelho</th>
              </tr>
            </thead>
            <tbody id="mostrar">
             
            </tbody>
          </table>
        </section>

    <!--CARDS-->
      <section class="informacoes">
        <div class="container01">
          <h2 class="titulo-nivel-dois">Dicas de dieta</h2>
          <div class="articulo-container">
            <div class="articulo">
              <i class="fas fa-heartbeat"></i>
              <h3>Amanhã</h3>
              <p>Para o dia de amanhã, você terá como objetivo o fortalecimento de peito, trapézio e triceps.</p>
            </div>
            <div class="articulo">
              <i class="fas fa-heartbeat"></i>
                <h3>Depois de Amanhã</h3>
                  <p>Para o dia de amanhã, você terá como objetivo o fortalecimento das pernas.</p>
            </div>
            <div class="articulo">
              <i class="fas fa-heartbeat"></i>
                <h3>Dia Seguinte</h3>
                  <p>Para o dia de amanhã, você terá como objetivo o fortalecimento das costas e bíceps.</p>
            <div>
          </div>
        <div>
      <section>
    </div>
  </main>
    <!--RODAPE-->
    <!--JAVA SCRIPT-->
    <script src="https://kit.fontawesome.com/02efa65f01.js" crossorigin="anonymous"></script>
    <script src="../../requisicoes/usuario/rotinaUsuario.js"></script>
    <script src="../../requisicoes/mostraNome/mostraNome.js"></script>
    <script src="../../requisicoes/logoff/logoff.js"></script>
</body>
</html>
