<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/cadastro-cliente.css">
  <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
  <title>LYNX Fit</title>
</head>
<body >
  <main class="principal">
    <div class="back">
      <div class="info">
        <h2 class="titulo">Lynx fit</h2>
        <img src="./assets/img/undraw_domain_names_re_0uun.svg" alt="">
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit debitis quaerat distinctio exercitationem amet asperiores reprehenderit vel perferendis aspernatur consectetur.</p>
      </div>
    </div>
    <div id="main-container" class="container">
      <h1 id="h1">Cadastre sua Empresa</h1>
      <div class="show">
        <div class="forms">
          <form id="register-form" name= "cadastrarCliente" action="#">
            <div class="full-box">
              <label for="email">E-mail</label> <br>
              <input type="text" name="email" id="email" placeholder="Digite seu e-mail" data-min-length="2" data-email-validate class="email">
            </div>
            <div class="half-box spacing">
                <label for="name">Nome</label> <br>
                <input type="text" name="name" id="nome" placeholder="Digite seu nome" data-required data-min-length="3" data-max-length="16">
            </div>
            <div class="half-box">
                <label for="lastname">CNPJ</label> <br>
                <input type="text" name="cnpj" id="cnpj" placeholder="Digite seu CNPJ"data-required data-only-letters>
            </div>
            <div class="half-box spacing">
              <label for="lastname">Senha</label> <br>
              <input type="password"  name="senha" id="senha" placeholder="Digite sua senha" data-password-validate data-required>
            </div>
            <div class="half-box some">
              <label for="passconfirmation">Confirme sua senha</label> <br>
              <input type="password" name="confirmarSenha" id="senha-comfirmação" placeholder="Digite novamente sua senha" data-equal="password">
            </div>
            <div class="termos"> 
              <input type="checkbox" name="agreement" id="checkbox">
              <label for="agreement" id="agreement-label" >Eu li e aceito os <a href="#">termos de uso</a></label>
            </div> 
            <div class="full-box">
              <input class="inc" id="cadastrar" type="submit" >
              <!-- <button class="inc"><a href="../login/login.html" style="color: white;">Realizar Login</a></button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="error-validation template"></p>
  </main>
  <!-- <script src="./assets/js/cadastro-cliente.js"></script> -->
  <script src="./assets/js/criarCliente.js"></script>
  <script src="./assets/js/validarEmail.js"></script>
  <script src="./assets/js/validarCNPJ.js"></script>
  <script src="./assets/js/validarSenha.js"></script>
</body>
</html>