.modal-excluir{
    display: none;
}
.modal-excluir select{
    margin-top: 2rem;
    margin-left: 5rem;
    align-items: center;
    width: 250px;
    height: 40px;
    font-size: 22px;
}
.excluir-ativado{
    display: block;
    position: absolute;
    width: 700px;
    height: 300px;
    background: silver;
    color: black;
}